body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color:aliceblue;
}

h1 {
    font-size: 26px;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #363b42;
    opacity: 80%;
}

.logo-name {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.language {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.main {
    width: 100%;
    height: 80%;
}

.footer {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 170, 51, .4);
}

.counter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.counter-number {
    font-size: 100px;
}

.dialog-layer {
    height: 70%;
    width: auto;
    min-height: 400px;
    max-height: 800px;
    min-width: 300px;
    max-width: 800px;
}

.dialog-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
}

.settings-bg {
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.bg-images-preview {
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.bg-images-preview img {
    width: 150px;
}

.button {
    width: auto;
    height: 50px;
    background-color: #363b42;
    opacity: 80%;
    border-radius: 5px;
    color: whitesmoke;
    transition: ease 0.3s;
}

.button-save {
    width: 100px;
    height: 100px;
}

.choose-time {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button:hover {
    opacity: 100%;
}

.switch {
    font-size: 18px;
    position: relative;
    width: auto;
    height: 2em;
    user-select: none;
    background-color: yellowgreen;
    display: flex;
}

.switch > input {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    position: absolute;
}

.switch > .rest-mode-time, 
.switch > .work-mode-time,
.switch > .long-rest-mode-time {
    display: block;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363b42;
    padding: 0 10px;
}

.switch > input[type="radio"]:checked + .work-mode-time, 
.switch > input[type="radio"]:checked + .rest-mode-time,
.switch > input[type="radio"]:checked + .long-rest-mode-time {
    background-color: rgb(93, 187, 56);
}

#bg-video {
    left: 0;
    top: 0;
    background-size: cover;
    background: no-repear center;
    user-select: none;
    pointer-events: none;

    filter: grayscale(0.2);

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);

    z-index: -1;
}